
.mb-xs-5 {
margin-bottom: 3rem;
}

#reskill {
    height: 30%;
    width: 30%;
}

.btn btn-primary {
    
        display: flex;
        justify-content: center;
        align-items: center;
      }
